<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DaiLapy</title>
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>

    <div class="wrapper">

        <nav class="menu menu__mobile">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">новости</a>
                </li>
                <li class="menu__item menu__item-1">
                    <div class="menu__link">
                        О нас
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <div class="menu__desc menu__desc-1">
                        <ul class="menu__desc-list">
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="@Url.Action("Page", "Static", new { slug = "priyut" })">
                                    Приют
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Деятельность
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Партнеры
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Команда
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Волонтерам
                                </a>
                            </li>
                        </ul>
                        <ul class="menu__desc-list">
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    История
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Отчетность
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Отзывы
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Баннеры
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Документация
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item menu__item-2">
                    <div class="menu__link">
                        питомцы
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <div class="menu__desc menu__desc-2">
                        <ul class="menu__desc-list">
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Ищут дом
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Тяжелобольные
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Счастливые истории
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Архив
                                </a>
                            </li>
                            <li class="menu__desc-item">
                                <a class="menu__desc-link" href="#">
                                    Найден / Потерян
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">контакты</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="help.html">Как помочь</a>
                </li>
            </ul>
        </nav>

        <header class="header">
            <div class="container-header">
                <div class="header__wrapper">
                    <a class="header__logo" href="@Url.Action("Index", "Home")">
                        <img class="header__logo-img" src="/images/header/logo.svg" alt="logo">
                    </a>
                    <div class="header__drop">
                        <div class="header__drop-tels">
                            <a class="header__drop-tel" href="tel:38 096-39-35-377">
                                38 096-39-35-377
                            </a>
                            <a class="header__drop-tel" href="tel:38 050-765-63-10">
                                38 050-765-63-10
                            </a>
                        </div>
                        <a class="header__drop-mail" href="mailto:daylapu1@gmail.com">
                            daylapu1@gmail.com
                        </a>
                        <a class="header__address" href="https://www.google.com/maps/place/%D0%94%D0%B0%D0%B9+%D0%BB%D0%B0%D0%BF%D1%83,+%D0%B4%D1%80%D1%83%D0%B3/@@47.8530834,35.1076963,16.25z/data=!4m5!3m4!1s0x40dc66d754235635:0x6c4a21cb8d3607f5!8m2!3d47.8560382!4d35.1110572">Запорожье</a>
                    </div>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="#">новости</a>
                            </li>
                            <li class="menu__item menu__item-1">
                                <a class="menu__link" href="#">
                                    О нас
                                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                              fill="white" />
                                    </svg>
                                </a>
                                <div class="menu__desc menu__desc-1">
                                    <ul class="menu__desc-list">
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="@Url.Action("Page", "Static", new { slug = "priyut" })">
                                                Приют
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Деятельность
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Партнеры
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Команда
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Волонтерам
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="menu__desc-list">
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                История
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Отчетность
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Отзывы
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Баннеры
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Документация
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item menu__item-2">
                                <a class="menu__link" href="#">
                                    питомцы
                                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                              fill="white" />
                                    </svg>
                                </a>
                                <div class="menu__desc menu__desc-2">
                                    <ul class="menu__desc-list">
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Ищут дом
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Тяжелобольные
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Счастливые истории
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Архив
                                            </a>
                                        </li>
                                        <li class="menu__desc-item">
                                            <a class="menu__desc-link" href="#">
                                                Найден / Потерян
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">контакты</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="@Url.Action("Help", "Home")">Как помочь</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="header__link" href="@Url.Action("Help", "Home")">Сделать пожертвование</a>
                </div>
            </div>
        </header>

        <div class="main">

            @RenderBody()

        </div>

        <footer class="footer">
            <div class="container-footer">
                <div class="footer__wrapper">
                    <div class="footer__home-box">
                        <a class="footer__logo-link footer__logo-link-mobile" href="#">
                            <picture>
                                <source media="(max-width: 650px)" srcset="/images/mobile/footer/logo.svg">
                                <img src="/images/footer/footer-logo.svg" alt="">
                            </picture>
                        </a>
                        <div class="footer__socials">
                            <a class="footer__social-link" href="#">
                                <picture>
                                    <source media="(max-width: 650px)" srcset="/images/mobile/facebook.svg">
                                    <img src="/images/footer/facebook.svg" alt="">
                                </picture>
                            </a>
                            <a class="footer__social-link" href="#">
                                <picture>
                                    <source media="(max-width: 650px)" srcset="/images/mobile/youtube.svg">
                                    <img src="/images/footer/youtube.svg" alt="">
                                </picture>
                            </a>
                            <a class="footer__social-link" href="#">
                                <picture>
                                    <source media="(max-width: 650px)" srcset="/images/mobile/instagram.svg">
                                    <img src="/images/footer/instagram.svg" alt="">
                                </picture>
                            </a>
                            <a class="footer__social-link" href="#">
                                <picture>
                                    <source media="(max-width: 650px)" srcset="/images/mobile/telegram.svg">
                                    <img src="/images/footer/telegram.svg" alt="">
                                </picture>
                            </a>
                        </div>
                        <a class="footer__logo-link" href="#">
                            <picture>
                                <source media="(max-width: 650px)" srcset="/images/mobile/footer/logo.svg">
                                <img src="/images/footer/footer-logo.svg" alt="">
                            </picture>
                        </a>
                        <nav class="footer__menu-mobile">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <a class="menu__link" href="#">новости</a>
                                </li>
                                <li class="menu__item menu__item-1">
                                    <div class="menu__link">
                                        О нас
                                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                                  fill="white" />
                                        </svg>
                                    </div>
                                    <div class="menu__desc menu__desc-1">
                                        <ul class="menu__desc-list">
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="@Url.Action("Page", "Static", new { slug = "priyut" })">
                                                    Приют
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Деятельность
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Партнеры
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Команда
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Волонтерам
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="menu__desc-list">
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    История
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Отчетность
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Отзывы
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Баннеры
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Документация
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__item menu__item-2">
                                    <div class="menu__link">
                                        питомцы
                                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.65079 0.240743C1.23147 -0.118679 0.600166 -0.0701172 0.240743 0.349209C-0.118679 0.768534 -0.0701172 1.39983 0.349209 1.75926L1.65079 0.240743ZM4.5 4L3.84921 4.75926C4.2237 5.08025 4.7763 5.08025 5.15079 4.75926L4.5 4ZM8.65079 1.75926C9.07012 1.39983 9.11868 0.768534 8.75926 0.349209C8.39983 -0.0701172 7.76853 -0.118679 7.34921 0.240743L8.65079 1.75926ZM0.349209 1.75926L3.84921 4.75926L5.15079 3.24074L1.65079 0.240743L0.349209 1.75926ZM5.15079 4.75926L8.65079 1.75926L7.34921 0.240743L3.84921 3.24074L5.15079 4.75926Z"
                                                  fill="white" />
                                        </svg>
                                    </div>
                                    <div class="menu__desc menu__desc-2">
                                        <ul class="menu__desc-list">
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Ищут дом
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Тяжелобольные
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Счастливые истории
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Архив
                                                </a>
                                            </li>
                                            <li class="menu__desc-item">
                                                <a class="menu__desc-link" href="#">
                                                    Найден / Потерян
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">контакты</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="help.html">Как помочь</a>
                                </li>
                            </ul>
                        </nav>
                        <p class="footer__copy">@@2021 Дай лапу, друг</p>
                    </div>
                    <nav class="footer__menu">
                        <ul class="footer__menu-list">
                            <h4 class="footer__menu-title">Деятельность</h4>
                            <li><a href="#">Проекты</a></li>
                            <li><a href="#">Акции</a></li>
                            <li><a href="#">Статьи</a></li>
                        </ul>
                        <ul class="footer__menu-list">
                            <h4 class="footer__menu-title">Как помочь</h4>
                            <li><a href="#">Финансово</a></li>
                            <li><a href="#">Волонтерство</a></li>
                            <li><a href="#">Опекунство</a></li>
                            <li><a href="#">Адресная помощь</a></li>
                        </ul>
                        <ul class="footer__menu-list">
                            <h4 class="footer__menu-title">Организация</h4>
                            <li><a href="#">Документы</a></li>
                            <li><a href="#">Команда</a></li>
                            <li><a href="#">История создания</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>

    </div>


    <script src="js/main.min.js"></script>
</body>

</html>