
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetType })">Types</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetSubType })">Sub Types</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetBreed })">Breed</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetColor })">Color</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetHairType })">Hair type</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetPersonality })">Personality</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetSize })">Size</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetStatus })">Status</a>
