
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetType })">Типы питомцев</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetSubType })">Подтипы</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetBreed })">Порода</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetColor })">Окрас</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetHairType })">Тип шерсти</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetPersonality })">Особенности характера</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetSize })">Размер</a>
<a href="@Url.Action("Edit", "Options", new { area = "Admin", type = (int)EOptionType.PetStatus })">Статус</a>
